<div class='col-md-8 col-md-offset-2' style='margin-bottom:100px' ng-controller='zohoController'>

    <!-- This started with a file from Zoho but we're not using their HTML because it is too incompatible with ours, both 
         visually, and in code (they don't use Angular or Bootstrap) and we want to preserve L&F. Well, we're not using
         BootStrap here either, but we should be and will be later... -->

    <style>
        tr , td { 
            padding:6px;
            border-spacing:0px;
            border-width:0px;
        }
    </style>
    
    <span ng-model='showError' ng-show='showError' style='color:red;line-height:50px'>
        {{error}}
    </span>
    
    <table style='width:600px'>
        <tr><td colspan='2' style='text-align:left;'><strong>Contact Us:</strong></td></tr>
        <tr><td style='nowrap:nowrap;text-align:right;width:300px;'>Firm Name</td><td style='width:250px;' ><input ng-model='firmName' class='form-control' type='text' style='width:250px;'  maxlength='100' name='Company' /></td></tr>
        <tr><td style='nowrap:nowrap;text-align:right;width:300px;'>First Name<span style='color:red;'>*</span></td><td style='width:250px;' ><input ng-model='firstName' class='form-control' type='text' style='width:250px;'  maxlength='40' name='First Name' /></td></tr>
        <tr><td style='nowrap:nowrap;text-align:right;width:300px;'>Last Name<span style='color:red;'>*</span></td><td style='width:250px;' ><input ng-model='lastName' class='form-control' type='text' style='width:250px;'  maxlength='80' name='Last Name' /></td></tr>
        <tr><td style='nowrap:nowrap;text-align:right;width:300px;'>Email<span style='color:red;'>*</span></td><td style='width:250px;' ><input ng-model='email' class='form-control' type='text' style='width:250px;'  maxlength='100' name='Email' /></td></tr>
        <tr><td style='nowrap:nowrap;text-align:right;width:500px;'>How Can We Help&#x3f;<span style='color:red;'>*</span> </td><td> <textarea ng-model='message' class='form-control' name='Description' maxlength='1000' style='width:250px;'>&nbsp;</textarea></td></tr>
        <tr>
            <td colspan='2' style='text-align:center; padding-top:15px;'>
                <input class='btn btn-normal' style='font-size:14px;color:#131307' type='submit' value='Submit' ng-click='sendContactToZoho()'/>
                <input class='btn btn-normal' type='reset' style='font-size:14px;color:#131307' value='Reset'ng-click='resetForm()'/>
            </td>
        </tr>
    </table>
    
    <!-- END FROM ZOHO -->
    
    <br>
    Contact us for information on all <b>Canchek</b>'s services, including sales and integration to your KYC in-house systems. Call us at <a href='tel:+14168480870'>416.848.0870</a>.
    <br><br>
    For any technical, database or customer support requests please email <a class='email' href='mailto:customersupport@canchek.com'>customersupport@canchek.com.</a>
    <br><br>
    Suite 5700, 100 King Street West, Toronto, ON M5X 1C7
    
</div>