<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.hazlobien'>

<!-- 
https://stackoverflow.com/questions/64133767/how-to-map-string-to-postgresql-array-column-in-mybatis
<resultMap id="array" type="java.util.Map">
    <result property="feature" column="feature" typeHandler="org.apache.ibatis.type.ArrayTypeHandler"></result>
</resultMap>

<select id="selectArrayFeatures" resultMap="array">
        SELECT feature FROM x LIMIT 1
    </select>
    -->
    
    <resultMap id="fraseMap" type="com.hazlobien.Frase">
    	<result property="categories" column="categories" typeHandler="com.hazlobien.StringArrayTypeHandler" jdbcType="ARRAY"/>
    	<result property="expect" column="expect" typeHandler="com.hazlobien.StringArrayTypeHandler" jdbcType="ARRAY"/>
	</resultMap>
	
    <select id='selectFrases' resultMap="fraseMap">
        SELECT * FROM frase
    </select>

	<insert id='insertFrase' parameterType='com.hazlobien.Frase'>
		INSERT INTO frase (
			categories,
			en,
			es,
			expect
 		) VALUES (
 			#{categories, javaType=String[], jdbcType=OTHER, typeHandler=com.hazlobien.StringArrayTypeHandler},
			#{en},
			#{es},
 			#{expect, javaType=String[], jdbcType=OTHER, typeHandler=com.hazlobien.StringArrayTypeHandler}
		)
	</insert>
	
	<delete id='deleteAllFrases'>
		DELETE FROM frase;
	</delete>

	<insert id='insertRespuesta' parameterType='com.hazlobien.Respuesta'>
		INSERT INTO respuesta (
			correct,
			frase_id,
			en,
			es,
			expect,
			respuesta
 		) VALUES (
 			#{correct},
			#{fraseId},
			#{en},
			#{es},
			#{expect},
			#{respuesta}
		)
	</insert>

	<resultMap id="preferencesMap" type="com.hazlobien.Preferences">
    	<result property="categories" column="categories" typeHandler="com.hazlobien.StringArrayTypeHandler" jdbcType="ARRAY"/>
    	<result property="words" column="words" typeHandler="com.hazlobien.StringArrayTypeHandler" jdbcType="ARRAY"/>
	</resultMap>
	
	<select id='selectPreferences' parameterType="String" resultMap="preferencesMap">
        SELECT * FROM preferences WHERE userId = #{userId}
    </select>

	<insert id='insertPreferences' parameterType='com.hazlobien.Preferences'>
		INSERT INTO preferences (
			categories,
			mode
			userId
 		) VALUES (
			#{categories, javaType=String[], jdbcType=OTHER, typeHandler=com.hazlobien.StringArrayTypeHandler},
			#{mode},
			#{userId}
		)
	</insert>

	<insert id='updatePreferences' parameterType='com.hazlobien.Preferences'>
		UPDATE preferences
			SET categories = #{categories, javaType=String[], jdbcType=OTHER, typeHandler=com.hazlobien.StringArrayTypeHandler},
				mode = #{mode},
				words = #{words, javaType=String[], jdbcType=OTHER, typeHandler=com.hazlobien.StringArrayTypeHandler}
			WHERE userId = #{userId}
	</insert>

</mapper>