<div ng-controller='reportsController' collapse-open-listener>
	<h4 class='panel-title' style='cursor: pointer'>
		<a translate data-toggle='collapse' data-parent='#accordion' data-target='#{{d.key}}'>{{d.title}}</a>
	</h4>
	<div id='{{d.key}}' class='{{dcl}} panel-collapse collapse' style='margin-top:20px'>
		<div class='panel-body'>
			<span ng-model='showError' ng-show='showError' style='color:red'>
				{{error}}
			</span>
		</div>
		<div class='col-lg-12'>
			<br>
			<div>
				<div style="margin-bottom:10px">
					<button ng-click="refreshClick()" translate>APP.GENERAL.REFRESH</button>
				</div>
				<table class='table table-hover'>
					<tr>
						<th>Input File Name</th>
						<th>Size (bytes)</th>
						<th>Submitted</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					<tbody>
						<tr ng-repeat='d in data track by $index'>
							<td>{{d.userFileName}}</td>
							<td>{{d.inputSize}}</td>
							<td>{{d.firstTimeStamp}}</td>
							<td>{{d.status}}</td>
							<td>
								<button ng-show='(d.status=="COMPLETE" || d.status=="DELIVERED") && d.excelFileName' ng-click="getFile($index,'EXCEL')">Get Excel</button>
								<button ng-show='(d.status=="COMPLETE" || d.status=="DELIVERED") && d.pdfFileName' ng-click="getFile($index,'PDF')">Get PDF</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>